@model IEnumerable<AHTB_TimBanCungGu_API.Models.Tap>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoTap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phan.IDPhan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDTap">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDTap">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDTap">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
