@model AHTB_TimBanCungGu_API.Models.Phim

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/SharedAdmin/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Phim</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenPhim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenPhim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DienVien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DienVien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TheLoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TheLoai.IdTheLoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayPhatHanh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayPhatHanh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhGia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhGia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrailerURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrailerURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoiDungPremium)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoiDungPremium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SourcePhim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SourcePhim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DangPhim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DangPhim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UsID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThai)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDPhim">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
