@model AHTB_TimBanCungGu_API.Models.Phim

@{
    ViewData["Title"] = "Chỉnh Sửa Phim";
    Layout = "~/Areas/Admin/Views/SharedAdmin/_LayoutAdmin.cshtml";
}
<style>
    .modal-sm {
        max-width: 800px; /* Chiều rộng cụ thể */
    }

    .modal-content {
        padding: 20px;
        border-radius: 8px; /* Bo góc mềm mại */
    }
</style>
<div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel" style="text-transform:uppercase">Chỉnh Sửa Phim bởi: @ViewData["IDAdmin"]</h5>
            <button type="button" class="btn-close" onclick="window.location.href='@Url.Action("Index", "QuanLyPhims")'" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form asp-action="Edit" enctype="multipart/form-data" method="post" id="editForm">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                <input type="hidden" asp-for="IDPhim" />
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label asp-for="TenPhim" class="form-label">Tên phim</label>
                        <input asp-for="TenPhim" class="form-control" required maxlength="255" title="Tên phim là bắt buộc" />
                        <span asp-validation-for="TenPhim" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="TheLoaiPhim" class="form-label">Thể Loại Phim</label>
                        <select asp-for="TheLoaiPhim" class="form-control" asp-items="ViewBag.TheLoaiPhim" required></select>
                        <span asp-validation-for="TheLoaiPhim" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 mb-3">
                        <label asp-for="MoTa" class="form-label">Mô tả</label>
                        <textarea asp-for="MoTa" class="form-control" required maxlength="255"></textarea>
                        <span asp-validation-for="MoTa" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="DienVien" class="form-label">Diễn viên</label>
                        <input asp-for="DienVien" class="form-control" required maxlength="255" />
                        <span asp-validation-for="DienVien" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="NgayPhatHanh" class="form-label">Ngày phát hành</label>
                        <input asp-for="NgayPhatHanh" class="form-control" type="date" required id="NgayPhatHanh" />
                        <span asp-validation-for="NgayPhatHanh" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="DanhGia" class="form-label">Đánh Giá</label>
                        <input asp-for="DanhGia" class="form-control" required />
                        <span asp-validation-for="DanhGia" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="DangPhim" class="form-label">Dạng phim</label>
                        <input asp-for="DangPhim" class="form-control" disabled />
                        <input type="hidden" asp-for="DangPhim" />
                        <span asp-validation-for="DangPhim" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="TrailerURL" class="form-label">Trailer URL</label>
                        <input  asp-for="TrailerURL" class="form-control" />
                        <span asp-validation-for="TrailerURL" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="TrangThai" class="form-label">Trạng thái</label>
                        <select asp-for="TrangThai" class="form-select" required>
                            <option value="">-- Chọn trạng thái --</option>
                            <option value="Chưa chiếu">Chưa chiếu</option>
                            <option value="Đang chiếu">Đang chiếu</option>
                        </select>
                    </div>
                    <div class="col-md-6 mb-3">                    
                        <div class="col-md-6 d-flex align-items-center mb-3">
                        <label asp-for="NoiDungPremium" class="form-check-label mb-0" for="premiumCheckbox">Premium</label>
                        <input asp-for="NoiDungPremium" class="form-check-input me-2" style="margin: 0 10px;" type="checkbox"  />
                    </div>
                </div>
                    <div class="col-md-6 mb-3">
                        <label asp-for="NgayCapNhat" class="form-label">Ngày cập nhật</label>
                        <input asp-for="NgayCapNhat" class="form-control" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" readonly />
                        <span asp-validation-for="NgayCapNhat" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="SourcePhim" class="form-label">Source Phim</label>
                        <input asp-for="SourcePhim" class="form-control" required />
                        <span asp-validation-for="SourcePhim" class="text-danger"></span>
                    </div>


                    <div class="form-group mb-3">
                    <label>Hình Ảnh Hiện Tại:</label><br />
                    @if (!string.IsNullOrEmpty(Model.HinhAnh))
                    {
                        <img id="currentImage" src="@Url.Content("~/Uploads/" + Model.HinhAnh)" alt="Hình Ảnh" style="max-width: 200px; max-height: 200px; margin: 10px 0;" />
                    }
                    else
                    {
                        <p>Không có hình ảnh.</p>
                    }
                    <input type="file" name="ImageFile" class="form-control" id="imageFileInput" />
                    <span asp-validation-for="HinhAnh" class="text-danger"></span>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" onclick="window.location.href='@Url.Action("Index", "QuanLyPhims")'">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('imageFileInput').addEventListener('change', function (event) {
        var file = event.target.files[0];
        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                var imageUrl = e.target.result;
                var imgElement = document.getElementById('currentImage');

                if (imgElement) {
                    imgElement.src = imageUrl;
                } else {
                    var newImage = document.createElement('img');
                    newImage.src = imageUrl;
                    newImage.style.maxWidth = '200px';
                    newImage.style.maxHeight = '200px';
                    document.querySelector('.form-group').appendChild(newImage);
                }
            };

            reader.readAsDataURL(file);
        }
    });
    // Lấy ngày hiện tại tương đương DateTime.Now
    var currentDate = new Date();

    // Định dạng thành yyyy-MM-dd
    var year = currentDate.getFullYear();
    var month = ("0" + (currentDate.getMonth() + 1)).slice(-2); // Tháng bắt đầu từ 0
    var day = ("0" + currentDate.getDate()).slice(-2); // Ngày đảm bảo 2 chữ số

    var formattedDate = `${year}-${month}-${day}`;

    // Đặt giá trị min cho input NgayPhatHanh
    document.getElementById('NgayPhatHanh').setAttribute('min', formattedDate);
</script>
