@model IEnumerable<AHTB_TimBanCungGu_API.Models.Phim>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/SharedAdmin/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenPhim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TheLoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayPhatHanh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DanhGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrailerURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoiDungPremium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourcePhim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HinhAnh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DangPhim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayCapNhat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenPhim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoTa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TheLoai.IdTheLoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayPhatHanh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DanhGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrailerURL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoiDungPremium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourcePhim)
            </td>
            <td>
                    <img src="~/Uploads/@item.HinhAnh" alt="Movie Image" style="width: 150px; height: auto;" />


            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DangPhim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCapNhat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UsID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDPhim">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDPhim">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDPhim">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
