@model AHTB_TimBanCungGu_API.Models.Phan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/SharedAdmin/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Phan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoPhan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoPhan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NgayCongChieu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NgayCongChieu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuongTap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuongTap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phim.IDPhim)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IDPhan">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
