@model IEnumerable<AHTB_TimBanCungGu_API.Models.Phan>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/SharedAdmin/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SoPhan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayCongChieu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuongTap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phim)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoPhan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayCongChieu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuongTap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phim.IDPhim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDPhan">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDPhan">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDPhan">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
